header {
    display:flex;
    background-color:rgb(177, 89, 89);
    color:black;
    justify-content:center;
    align-items:center;
    height: 100px;
    flex-direction: column;


}
nav {
    display: flex;
    padding:10px;
    justify-content:space-between;
    align-items:center;
    color:black;
    text-align:center;
  }
  nav ul {
    background-color:;
    display:flex;
    padding:0;
    align-items:center;
    margin:0;
    width:100%;
    list-style:none;
    text-align:center;
  }
  nav li {

    text-align:center;
  }
  nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    padding: 10px;
}
nav a.esquerda {
    text-align:left;
    color:black;

}
  nav a.meio {
  text-align:center;
  font-weight:bold;
  flex:1;
  text-decoration:none;
  color:black;
  display: flex;
  }
  nav a.direita {
  text-align:right;
  color:black;
  }
  .card img {
    width:100px;

  }
